#button {
  border-radius: 25px;
  background: DodgerBlue;
  padding: 20px;
  width: 200px;
  height: 150px;
}
iframe{
  border-radius: 20px;
  padding: 20px;
  height: 100px;
  width: 88%;
}
div.tegel {
  border-radius: 20px;
  background: DodgerBlue;
  padding: 20px;
  height: 100px;
  width: 88%;
  background-color: DodgerBlue;
}
div.mootegel{
  width: 150px;
  background-color: DodgerBlue;
  border-radius: 25px;
  background: DodgerBlue;
  padding: 0px;
  height: 100px;
  
}

.midden{
  position: absolute;
  top: 50%;
}
pre{
  z-index: 9999;
  position: absolute;
  text-align-last: center;
  text-decoration: none;
  font-size: 20px;
}

body {
  background-image: url('');
}
h1.welkom{ 
  background-color: rgb(255,255,255);
  !important color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
p {
  text-align: left;
  
}